<div class="page-container algorithms-page-wrapper">
  <h1 class="section-title">CFOP - Algorithms</h1>

  <h2>First Layer Edge</h2>
  <h3>Upper</h3>
  <code>F2</code>

  <h3>Front Upper</h3>
  <code>Ui Ri F R</code>

  <h2>First Layer Corner</h2>
  <h3>Left to Left</h3>
  <code>L</code>

  <h3>Left to Front</h3>
  <code>Di L D</code>

  <h3>Left to Back</h3>
  <code>D L Di</code>

  <h3>Left to Right</h3>
  <code>D2 L D2</code>

  <h2>Second Layer Edge</h2>
  <h3>To Right</h3>
  <code>U R Ui Ri Ui Fi U F</code>

  <h3>To Left</h3>
  <code>Ui Li U L U F Ui Fi</code>

  <h2>Third Layer Edge</h2>
  <h3>No Edge</h3>
  <code>F U R Ui Ri Fi U F R U Ri Ui Fi</code>

  <h3>90deg Edge</h3>
  <code>F U R Ui Ri Fi</code>

  <h3>180deg Edge</h3>
  <code>F R U Ri Ui Fi</code>

  <h2>Third Layer Corner - Orientation</h2>
  <h3>0 Corner 2 Headlight</h3>
  <code>F R U Ri Ui R U Ri Ui R U Ri Ui Fi</code>

  <h3>0 Corner 1 Headlight</h3>
  <code>f R U Ri Ui Si R U Ri Ui Fi</code>

  <h3>1 Corner R</h3>
  <code>R U Ri U R U2 Ri</code>

  <h3>1 Corner L</h3>
  <code>Li Ui L Ui Li U2 L</code>

  <h3>2 Corner</h3>
  <code>R U Ri Ui R Ui Ri U2 R Ui Ri U2 R U Ri</code>

  <h3>2 Corner F</h3>
  <code>r U Ri Ui ri F R Fi</code>

  <h3>2 Corner R</h3>
  <code>Fi r U Ri Ui ri F R</code>

  <h2>Third Layer Corner - Permutations</h2>
  <h3>2 Corner R</h3>
  <code>Fi L Fi R2 F Li Fi R2 F2 Ui</code>

  <h3>To Right</h3>
  <code>R Ui R U R U R Ui Ri Ui R2</code>

  <h3>To Left</h3>
  <code>R2 U RU Ri Ui Ri Ui Ri U Ri</code>

  <h3>H</h3>
  <code>M2 Ui M2 U2 M2 Ui M2</code>

  <h3>Z</h3>
  <code>Mi Ui M2 Ui M2 Ui Mi U2 M2 U</code>

</div>