$primaryColor: var(--primary-color);
$primaryColorDark: var(--primary-color-dark);
$primaryColorText: var(--primary-color-text);
$primaryBg: var(--primary-bg);
$primaryFontColor: var(--primary-font-color);
$primaryButtonFontColor: var(--primary-button-font-color);
$primaryBoxShodow: var(--primary-box-shodow);
$primaryBoxShodowIn: var(--primary-box-shodow-in);

$secondaryBg: var(--secondary-bg);
$secondaryFontColor: var(--secondary-font-color);
$secondaryBoxShodow: var(--secondary-box-shodow);
$secondaryBoxShodowIn: var(--secondary-box-shodow-in);

$shadowStartColor: var(--shadow-start-color);
$shadowEndColor: var(--shadow-end-color);

$errorColor: #F44336;
$successColor: #388E3C;

$maxWidth: 600px;
$cardGutter: 20px;
$sBorderRadius: 70px;
$animationDuration: 0.3s;
$animationTiming: ease-in-out;
$instructionsBorderRadius: 20px;